html, body {
    margin: 0;
    padding: 0;
    background: #dddddd;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 1em;
}

@media(min-width: 960px) {
    #root {
        margin: 0 auto;
        padding: 0 2em;
        min-width: 800px;
        max-width: 1400px;
    }
    .chat-box {
        min-width: 800px;
        max-width: 1400px;
    }
}

.start-menu {
    /*margin: 1em 4em;*/
}

.start-menu h1 {
    text-align: center;
}

.start-appearance {
    min-height: 220px;
    display: flex;
}

.error {
    color: #aa3333;
    font-weight: bold;
}

#chatbox-container {
    border: 1px solid black;
    background: #eee;
    border-radius: 8px 8px 0 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.chat-box {
    flex-grow: 1;
}

.chat-history {
    overflow-y:scroll;
    height: 100px;
}

.message-author {
    font-weight: bold;
}
.chat-message .-system {
    color: #ff00ff;
    font-weight: bold;
}
.chat-message .-error {
    color: #ee3333;
    font-weight: bold;
}
.chat-message .-me {
    color: #eeaa33;
    font-weight: bold;
}
.chat-message .-info {
    color: #553311;
    font-weight: bold;
}
.chat-message .-host {
    color: #33aaaa;
    font-weight: bold;
}
.chat-message .-server {
    color: #0080ff;
    font-weight: bold;
}

.chat-send-div {
    display: flex;
}

.chat-send-div input {
    flex-grow: 1;
}

.chat-message {
    font-family: sans-serif;
    font-size: 10pt;
}

.float-left {
    float:left;
}
.float-right {
    float:right;
}
.d-flex {
    display: flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
.flex-grow-1 {
    flex-grow: 1;
}
.flex-grow-0 {
    flex-grow: 0;
}
.mxy-2 {
    margin: 0.5em;
}
.mt-2 {
    margin-top: 0.5em;
}
.mt-4 {
    margin-top: 1em;
}
.mt-8 {
    margin-top: 2em;
}
.ml-4 {
    margin-left: 1em;
}

.colorbox {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid black;
}
.bar {
    position: relative;
    height: 20px;
}
.bar-text, .bar-fill {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid transparent;
}
.bar-fill {
    height: 100%;
    box-sizing: border-box;
}
.bar-fill-bg {
    background: #bbb;
}
.char-effect {
    border: 1px solid black;
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    /*border-radius: 8px;*/
    text-align: center;
    font-family: sans-serif;
}
.char-effect.-good {
    background: #cfc;
}
.char-effect.-bad {
    background: #faa;
}
.char-effect.-neutral {
    background: #aaf;
}
.text-positive {
    color: #080;
}
.text-negative {
    color: #c00;
}

.connect-screen {
    margin: 2em 5em 0;
}
.connect-screen > div {
    display: flex;
    justify-content: space-between;
    margin: 0.25em 0;
}

.connect-screen label {
    flex-basis: 25%;
    text-align: right;
}

.connect-screen input {
    flex-basis: 70%;
}

.connect-screen button {
    width: 80%;
    margin: 1em 10%;
}

.main-screen,
.combat-screen {
    display: grid;
    height: calc(100vh - 150px);
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
        "menu menu menu"
        "left text right"
        "left actions right";
}

.mainscreen-topmenu,
.combat-topmenu {
    grid-area: menu;
}

.mainscreen-left,
.combat-left {
    grid-area: left;
    margin: 1em;
}
.mainscreen-right,
.combat-right {
    grid-area: right;
    margin: 1em;
}

.mainscreen-text,
.combat-text {
    grid-area: text;
    margin: 1em;
    max-width: 960px;
    white-space: break-spaces;
    overflow-y: scroll;
}
.mainscreen-left .status-panel,
.combat-left .status-panel {
    height: 100%;
}

.mainscreen-actions,
.combat-actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
}
.mainscreen-actions .action,
.combat-actions .action {
    margin: 0.25em 1em;
}
.char-title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.char-subtitle {
    text-align: center;
    font-size: 11pt;
    color: #333;
}
.char-panel {
    min-width: 250px;
}
.char-xp-bar {
    height: 4px;
    background: #888888;
}
.char-xp-bar-fill {
    height: 4px;
    background: #fa8;
}
.char-xp-bar-fill.-levelup {
    background: #80ff80;
}
.char-statgrid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(8, 1fr);
    text-align: center;
    gap: 0 2px;
}
.char-statname {
    font-variant: small-caps;
    font-size: 10pt;
}
.char-statval {
    font-family: monospace;
}
.char-stat-sen {
    margin: 0 0.5em;
}
.char-bargrid {
    display:grid;
    grid-template-areas: 'hp hp lu lu' 'wp fp mp sp';
    gap: 4px 2px;
}
.char-bargrid .bar-text {
    padding-top: 1px;
    font-family: monospace;
    font-weight: bold;
}
.bar-text {
    padding-left: 4px;
    width: 100%;
    height: 100%;
    border-color: black;
}
.char-bar-hp .bar-fill-bg {
    background: #ff0000;
}
.char-bar-hp .bar-fill-main {
    background: #00ff00;
}
.char-bar-lust .bar-fill-main {
    background: #ff00ff;
}
.char-bar-lust .bar-fill-extra {
    background: #a44;
}
.char-bar-wrath .bar-fill-main {
    background: #ff8040;
}
.char-bar-stamina .bar-fill-main {
    background: #ffff80;
}
.char-bar-mana .bar-fill-main {
    background: #88aaff;
}
.char-bar-sf .bar-fill-main {
    background: #eeeeee;
}
.char-money {
    display: grid;
    grid-template: auto / 1fr 1fr;
}
.char-effects {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.char-render {
    display: flex;
    justify-content: center;
}
.tooltip-activator:hover .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: calc(50% - 1em);
    max-width: 300px;
    padding: 0.5em;
    transform: translateY(-110%);
    border: 1px solid black;
    text-align: left;
    background: #eee;
}

.tooltip-activator {
    position: relative;
}

.tooltip-activator:not(:hover) .tooltip {
    display: none;
}
