@use "style/utility";

@use "style/bar";
@use "style/tooltip";

@use "style/character";
@use "style/chat";

@use "style/connect";
@use "style/main";
@use "style/start";

html, body {
    margin: 0;
    padding: 0;
    background: #dddddd;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    overflow-y: auto;
    width: 100%;
    align-self: center;
    max-width: 1400px;
    flex-grow: 1;
}

@media(min-width: 800px) {
    #root {
        padding: 0 1em;
        width: calc(100% - 2em);
    }
}

@media(min-width: 1200px) {
    #root {
        padding: 0 2em;
        width: calc(100% - 4em);
    }
    .chat-box {
        max-width: 1400px;
    }
}

button.material-icons {
    border: 1px solid transparent;
    background: #fff;
    cursor: pointer;
    padding: 0;
    //height: 26px;
    //width: 24px;
    border-radius: 6px;

    &:hover:not(:disabled) {
        border-color: #333;
    }
    &:disabled {
        background: #ccc;
    }
    &:active {
        background: #ddd;
    }
}

.error {
    color: #aa3333;
    font-weight: bold;
}

.colorbox {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid black;
}

.text-positive {
    color: #080;
}
.text-negative {
    color: #c00;
}
.text-damage {
    color: #800;
}

.text-heal {
    color: #080;
}
