.char-title {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

.char-subtitle {
	text-align: center;
	font-size: 11pt;
	color: #333;
}
.char-panel {
	min-width: 232px;
	background: #eee;
	padding: 0.5em;
}
.char-xp-bar {
	height: 4px;
	background: #888888;
}
.char-xp-bar-fill {
	height: 4px;
	background: #fa8;
}
.char-xp-bar-fill.-levelup {
	background: #80ff80;
}
.char-statgrid {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(8, 1fr);
	text-align: center;
	gap: 0 2px;
}
.char-statname {
	font-variant: small-caps;
	font-size: 10pt;
}
.char-statval {
	font-family: monospace;
}
@media(min-width: 800px) {
	.char-stat-sen {
		margin: 0 0.5em;
	}
}
.char-bargrid {
	display:grid;
	grid-template-areas: 'hp hp lu lu' 'wp fp mp sp';
	gap: 4px 2px;

	.bar-text {
		padding-top: 1px;
		font-family: monospace;
		font-weight: bold;
	}
}
.char-bar-hp .bar-fill-bg {
	background: #ff0000;
}
.char-bar-hp .bar-fill-main {
	background: #00ff00;
}
.char-bar-lust .bar-fill-main {
	background: #ff00ff;
}
.char-bar-lust .bar-fill-extra {
	background: #a44;
}
.char-bar-wrath .bar-fill-main {
	background: #ff8040;
}
.char-bar-stamina .bar-fill-main {
	background: #ffff80;
}
.char-bar-mana .bar-fill-main {
	background: #88aaff;
}
.char-bar-sf .bar-fill-main {
	background: #eeeeee;
}
.char-money {
	display: grid;
	grid-template: auto / 1fr 1fr;
}
.char-effects {
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
}
.char-effect {
	border: 1px solid black;
	height: 24px;
	width: 24px;
	box-sizing: border-box;
	/*border-radius: 8px;*/
	text-align: center;
	font-family: sans-serif;
	&.-good {
		background: #cfc;
	}
	&.-bad {
		background: #faa;
	}
	&.-neutral {
		background: #aaf;
	}
}

.char-render {
	display: flex;
	justify-content: center;
}
