.main-screen,
.combat-screen {
	display: grid;
	height: calc(100vh - 150px);
	grid-template-columns: min-content 1fr min-content;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
        "menu menu menu"
        "left text right"
        "left actions right";

	.mainscreen-topmenu,
	.combat-topmenu {
		grid-area: menu;
	}

	.mainscreen-left,
	.combat-left {
		grid-area: left;
		margin: 0.5em;
		display: flex;
	}
	.mainscreen-right,
	.combat-right {
		grid-area: right;
		margin: 0.5em;
		display: flex;
	}

	.mainscreen-text,
	.combat-text {
		grid-area: text;
		margin: 0.5em;
		padding: 0.5em;
		max-width: 960px;
		white-space: pre-line;
		overflow-y: scroll;
	}

	.mainscreen-actions,
	.combat-actions {
		grid-area: actions;
		display: flex;
		flex-direction: column;

		.action {
			margin: 0.25em 1em;
		}
	}

}

.stat-buffs {
	label {
		display: block;
		font-weight: bold;
	}

}

.buff-gt0 .buff-value {
	color: #080;
}
.buff-lt0 .buff-value {
	color: #800;
}

.buff-value {
	font-weight: bold;
	font-family: monospace;
}
