#tooltip {
	position: absolute;
}

.tooltip {
	min-width: 150px;
	width: max-content;
	max-width: 300px;
	padding: 0.5em;
	margin-top: 0.5em;
	visibility: visible;

	border: 1px solid black;
	text-align: left;
	white-space: break-spaces;
	background: #eee;

	transition: visibility 0.1s step-end;
}
.tooltip.-top {
	transform: translateY(calc(-100% - 1em));
}
.tooltip:not(:hover).-hidden {
	visibility: hidden;
}
